body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

input,
button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

#message {
  color: red;
  text-align: center;
}

.mensagem {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sucesso {
  background-color: #d4edda;
  color: #155724;
}

.erro {
  background-color: #f8d7da;
  color: #721c24;
}

.link-login:hover {
  color: darkblue;
  text-decoration: underline;
}

.link-cadastro:hover {
  color: darkblue;
  text-decoration: underline;
}
